name: Deploy Pelican site

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          cd tei3
          pip install pelican markdown ghp-import

      - name: Build Pelican site
        run: |
          cd tei3
          pelican content

      - name: Deploy to gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: |
          cd tei3
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          ghp-import output -b gh-pages
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }} gh-pages --force
